* {
    padding: 0;
    margin: 0;
}

.padding {
    padding-left: 30px;
    padding-right: 30px;
}

.v-grid {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.footer {
    background-color: rgba(210, 233, 247, 0.2);
}

.footer__first {
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}

.footer__tel-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__tel-box {
    display: flex;
    width: 50%;
    padding-top: 27px;
    padding-bottom: 24px;
}

.footer__tel {
    margin-right: 46px;
}

.footer__phone {
    font: 16px/16px 'Open Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #00132b;
}

.footer__hint {
    font: 12px/12px 'Open Sans', sans-serif;
    color: #6c6c6c;
}

.footer__link-box {
    display: flex;
    width: 50%;
    padding-top: 27px;
    padding-bottom: 24px;
    justify-content: flex-end;
}

.footer__link-box__icon {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 16px;
    transition: background .3s;
}

.vk__icon {
    background: url(../img/vk.svg);
}

.vk__icon:hover {
    background: url(../img/vk_hover.svg);
}

.instagram__icon {
    background: url(../img/instagram.svg);
}

.instagram__icon:hover {
    background: url(../img/instagram_hover.svg);
}

.telegram__icon {
    background: url(../img/telegram.svg);
}

.telegram__icon:hover {
    background: url(../img/telegram_hover.svg);
}

.googlplay__icon {
    width: 138px;
    height: 42px;
    background: url(../img/gplay.svg);
}

.googlplay__icon:hover {
    transform: scale(1.03);
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}

.footer__menu__h {
    font: 14px/14px 'Titillium Web', sans-serif; 
    padding-bottom: 20px;
}

.footer__list {
    list-style-type: none;
}

.footer__list li {
    padding-bottom: 10px;
}

.footer__list__item {
    text-decoration: none;
    font: 14px/14px 'Titillium Web', sans-serif;
    color: #6c6c6c;
}

.footer__list__item:hover {
    text-decoration: underline;
}

.footer__info {
    font: 13px/20px 'Open Sans', sans-serif;
}

.footer__info__link {
    margin-top: 30px;
    
}

.footer__info__item {
    text-decoration: none;
    color: #000;
}

.footer__info__item:hover {
    text-decoration: underline;
}

.footer__info__cookie {
    padding: 10px 0 30px;
}

@media screen and (max-width:799px) {
    .footer__tel-wrap {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
    }

    .footer__tel-box {
        width: 100%;
        padding: 30px;
        padding-top: 27px;
        padding-bottom: 24px;
        box-sizing: border-box;
    }

    .footer__link-box {
        width: 100%;
    }

    .footer__menu {
        flex-direction: column;
        padding-left: 30px;
    }
}

@media screen and (max-width: 489px) {
    .footer__tel-box {
        flex-direction: column;
        box-sizing: border-box;
    }

    .footer__link-box__icon {
        margin-left: 5px;
    }
}